streamlit
crewai==1.14.4

pandas==2.2.3
numpy==1.26.4
scikit-learn
xgboost==3.2.0
matplotlib==3.10.6
plotly
requests
python-dotenv==1.2.2

openai>=2.3.0,<3.0.0
google-genai

langchain
langchain-openai
langchain-community

faiss-cpu
pydantic
